.swipeButtons{
    position:fixed;
    display:flex;
    bottom:10vh;
    width:100%;
    justify-content: space-evenly;
}
.swipeButtons .MuiIconButton-root{
    background-color: white;
    box-shadow:0px 10px 53px 0px rgba(0,0,0,0.3) !important;
}

.swipeButtons_repeat{
    padding:3vw !important;
    color: #f5b748 !important;
}
.swipeButtons_left{
    padding:3vw !important;
    color: #6e48f5 !important;
}
.swipeButtons_star{
    padding:3vw !important;
    color: #87f548 !important;
}
.swipeButtons_right{
    padding:3vw !important;
    color: #f5485f !important;
}
.swipeButtons_lightning{
    padding:3vw !important;
    color: #487ff5 !important;
}